html, body {
  font-size: 100%; /* equals to 16 px*/
}

.fire-topbar-container {
  position: relative;
}

.fire-topbar {
  background-color: tomato;
  height: 3rem;
}

.fire-logo {
  margin: 0;
  font-size: 1.5rem;
  line-height: 3rem;
}

.fire-nav {
  position: absolute;
  background-color: teal;
  bottom: 3rem;
  left: 0;
  right: 0;
}

.fire-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 3rem;
}

.fire-hero {
  position: relative;
}

.fire-tagline {
  position: absolute;
  background-color: green;
  bottom: 0;
  right: 0;
  margin: 0;
}

.fire-hero img{
  max-width: 100%;
  height: auto;
}

.fire-product-steps {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fire-step-content {
  background-color: orange;
  margin: 1rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  font-size: 1.5rem;
  border-radius: 0.3125rem;
}

.fire-step-content:hover {
  background-color: yellow;
  color: tomato;
}

.fire-form {
  width: 80%;
  margin: 0 auto;
}

/* Breakpoint @ 650px when base font size is 16px */
@media screen and (min-width: 40.625rem) {
  .fire-tagline {
    font-size: 1.5rem;
    background-color: blue;
  }
}


/* Breakpoint @ 1024px when base font size is 16px */
@media screen and (min-width: 64rem) {
  .fire-summary-heading {
    text-align: center;
  }

  .fire-product-steps:after {
    content: "";
    clear: both;
    display: table;
  }

  .fire-product-steps li {
    float: left;
    width: 33.3333%;
    margin: 0;
  }

  .fire-step-content {
    width: 20rem;
    height: 20rem;  
    line-height: 20rem;
    border-radius: 50%;
    font-size: 2.5rem;
  }
}


























