html, body {
  font-size: 100%; /* equals to 16 px*/
}

.fire-topbar-container {
  position: relative;
}

.fire-topbar {
  background-color: tomato;
  height: 3rem;
}

.fire-logo {
  margin: 0;
  font-size: 1.5rem;
  line-height: 3rem;
}

.fire-nav {
  position: absolute;
  background-color: teal;
  bottom: 3rem;
  left: 0;
  right: 0;
}

.fire-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 3rem;
}






